body {
    margin: 0;
    padding: 2em;
    background-color: #fcfcfc;
    font-family: 'Helvetica';
}

p {
    margin: 0;
}

h1 {
    margin: 0;
}

.conlang-button {
    font-size: 1.5rem;
    padding: 1em;
    margin-top: 1em;
    width: 12em;
    height: 12em;
    background-color: #fcfcfc;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 10px;
}

.conlang-button:hover {
    cursor: pointer;
}

.flag-container {
    width: calc(6em + 10px);
    height: calc(6em + 10px);
    background-color: #fcfcfc;
    border-radius: 50%;
}

.flag {
    width: 6em;
    height: 6em;
    margin: 0;
    object-fit: cover;
    border-radius: 50%;
    border: 5px solid #ffffff;
}
